.bb-quotes {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;

    @include respond(t-l) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__quote {
    position: relative;
    padding: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-2;
    box-shadow:  5px 5px 9px 1px rgba($color-black,.5);

    @include respond(t-s) {
      padding: 2rem;
    }
  }

  &__text {
    font-size: 4.883rem;
    color: $color-white;
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    margin-top: auto;

    @include respond(t-s) {
      font-size: 3.883rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include respond(p-xl) {
      font-size: 2.883rem;
    }
  }

  &__icon {
    font-size: 6rem;
    color: $color-1;
    display: inline-block;

    @include respond(p-xl) {
      font-size: 3rem;
    }

    &--left {
        transform: rotate(180deg);
        margin-right: 2rem;
        @include respond(t-s) {
          align-self: flex-start;
        }
    }

    &--right {
        margin-left: 2rem;
        @include respond(t-s) {
          align-self: flex-start;
        }
    }
  }

  &__author {
    font-size: 2rem;
    color: $color-white;
    position: relative;
    padding-bottom: 1rem;
    display: block;
    margin-top: auto;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $color-1;
    }
  }
}
