* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size:62.5%;// 1rem = 10px 10px/16px= 62.5%
}

body {
    font-family: $font-family-1-r;
    background-color: $color-2;
}



