//cooper_medium_bt

@font-face {
    font-family: 'cooper';
    src:url('../../fonts/cooper_medium_bt.ttf');
}

//NunitoSans-Regular

@font-face {
    font-family: 'NunitoSans';
    src:url('../../fonts/NunitoSans-Regular.ttf');
}














