//----------------------------------*\
//  COLORS
//----------------------------------*/

$color-black: #000;
$color-white: #fff;

$color-1:#f9d207;
$color-2:#0c0c0c;

//----------------------------------*\
//  FONTS
//----------------------------------*/

$font-family-1-r:'cooper';
$font-family-2-r:'NunitoSans';











